body {
  padding-top: 60px;
}

.starter-template {
  padding: 20px 15px;
  text-align: center;
}


.navbar-nav li a {
    /*line-height: 20px;*/
    height: 10px;
    /*padding-top: 0;*/
}

/*Para esconder o botão do file choose*/
#escolheArquivo {
    display: none;
}